# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
*.swp
*.out

vars.local.cfg
node_modules
npm-debug.log
api/build/coverage
api/build/log/*.log

manage/build/src_www/js/config_.js

#except this file
!.gitignore
