{
    "extends": "eslint:recommended",
    "env": {
        // "browser": true,
        "node": true,
        "es6": true
    },
    "globals": {
        /**
         * true  - variable is allowed to be overwritten
         * false - not allowed to be overwritten
         */
        "jasmine": false,
        "beforeEach": false,
        "afterEach": false,
        "describe": false,
        "it": false,
        "expect": false,
        "spyOn": false
    },
    "rules": {
        /**
         * 0 - turn the rule off
         * 1 - turn the rule on as a warning (doesn't affect exit code)
         * 2 - turn the rule on as an error (exit code is 1 when triggered)
         */
        // "comma-dangle":     [2, "never"],
        // "no-unused-vars":   [2, {"vars": "local", "args": "none"}],
        "new-cap":          [2, {"newIsCap": true, "capIsNew": true, "capIsNewExceptions": ["Deferred"]}],
        "one-var":          [2, { "var": "always", "let": "never", "const": "never" }],
        // "eqeqeq":           [2, "smart"],
        "semi":             [2, "always"],
        // "strict":           [2, "global"],
        "no-caller":        2,
        "guard-for-in":     2,
        "no-else-return":   2,
        "no-regex-spaces":  2,
        "block-scoped-var": 2,
        "no-irregular-whitespace": 2,
        // "consistent-return":0,
        "comma-spacing":    0,
        "key-spacing":      0,
        "no-underscore-dangle": 0,
        "space-infix-ops":  0,
        // "no-multi-spaces":  0,
        "camelcase":        0,
        "yoda":             0,
        "require-yield":    0,

        "brace-style": [2, "1tbs"],
        "comma-dangle": [2, "always-multiline"],
        "consistent-return": 2,
        "dot-location": [2, "property"],
        "dot-notation": 2,
        "eol-last": 2,
        "eqeqeq": [2, "always", {"null": "ignore"}],
        "indent": [2, 4, {"SwitchCase": 1}],
        // "no-bitwise": 2,
        "no-inner-declarations": [2, "functions"],
        "no-multi-spaces": 2,
        "no-restricted-syntax": [2, "WithStatement"],
        "no-shadow": 2,
        "no-unused-expressions": 2,
        "no-unused-vars": [2, {"args": "none"}],
        "quotes": [2, "single", "avoid-escape"],
        // "space-before-keywords": 2,
        // "space-after-keywords": 2,
        "keyword-spacing": 2,
        "space-before-blocks": 2,
        "space-before-function-paren": [2, {"anonymous": "always", "named": "always"}],
        "strict": [2, "global"]
    }
}
